.App {
  text-align: center;
}


/* Body */
body {
  padding: 15px;
  background-color: grey;
  font: Belleza;
}

/* Footer */
footer {
  background-color: white;
  color: grey;
  margin-top: 10px;
}

footer p {
  margin-top: 0.8em!important;
  margin-left: 1.5em;
}

/* main */

.main {
  background-color: white;
  color: black;
  height: 100%;
  min-height: 100%;
}
.mainDiv {
  margin: auto;
  width: 90%;
  padding: 5px;
}
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 95px;
  width: 95px;
}
.sidebar {
  display: flex;
  background-color: #53565A;
  margin-top: 10px;
}

ul {
  list-style-type: 'none';
}

/* Sidebar */

.sidebar-list-styling{
  padding-left: 50px;
  padding-top: 15px;
  width: 20%;
  background-color: grey;
  color: white;
}

.sidebar-list a{
  color: white;
  padding: 0;
}

.sidebar-route{
  flex: 1;
  padding: '00px';
}

/* Header */

.header {
  margin-top: 0.5em!important;
  text-align: center;
  background-color: grey;
  color: white;
}

.header a {
  color: white;
}



